
.reg{
    padding: 20px;
}
.account-img {
    height: 250px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
.landing{
      margin-top: 2%;
  }
.blog-img{
    height: 80px;
    width: 80px;
    
    margin-bottom: 16px;
  }
#usern{
      margin-left: 20px;
  }
  #form,#profileupdate{
      display: none;
  }
.cardquote{
      padding: 5%;
      
  }
#submit{
      background-color: green;
      border-radius: 5px;
  }
#profbutton,#ref,#subs{
    border-radius: 5px;  
  }
.navbarbg{
      color: black;
  }
body{
    color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 

  }
.bg{
      background-color: rgba(255, 255, 255, 0.924);
      padding: 4px;
      color: black;
      border-radius: 6px;
  }

.black{
      color: black;
}
#modalComment{
    border-radius: 5px;
}
.singleblog{
    background-color: rgba(255, 255, 255, 0.924);  
    color: black;
}