<!DOCTYPE html>
<html lang="en">
<head>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144351462-1"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mwenda blogs</title>
    {% block styles %}
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|IBM+Plex+Sans|Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Farro|Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    
    {% endblock %}
</head>


<body class="body"  >
        <div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeJ-lDQHeK5BQ7MV5SzVb7In6UhRDgvuuYeA&usqp=CAU');     background-position: center;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
        height: 1100%;">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}


        {% block content %}
        {% endblock %}


       
{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
{% endblock %}



<footer style="padding-top: 10%;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/its_brianmwenda" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/mwendaB" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted text-center">
                Copyright &copy; Brian Mwenda
              </p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>